@import "variables";
.logos-section{
  .container {
    @include container;
    padding: 40px 10px 60px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    img {
      margin: 20px 10px;
    }
  }
}
@import "media-q";