//xs
@media only screen and (min-width: 350px) {
  .home {
    button {
      padding: 20px 65px;
    }
  }
}
//sm
@media only screen and (min-width: 576px) {
  .home {
    h1 {
      font-size: 66px;
    }
  }
  .web-dev-section {
    .container {
      .web-text-block {
        h2 {
          font-size: 60px;
        }
      }
    }
  }
  .branding-section {
    .container {
      .branding-text-block {
        h2 {
          font-size: 60px;
        }
      }
    }
  }
  .clients-section {
    .container {
      .text-block {
        padding: 40px 85px 40px 100px;
        max-width: 660px;
      }
    }
  }
}

//md
@media only screen and (min-width: 768px) {
  #menu {
    display:flex;
  }

  .slicknav_menu {
    display:none;
    position: relative;
  }
  .web-dev-section {
    .container {
      flex-direction: row;
      .web-img-block {
        margin-left: 40px;
        img {
          min-width: 240px;
        }
      }
    }
  }
  .skills-section {
    .container {
      justify-content: space-between;
    }
  }
  .branding-section {
    .container {
      flex-direction: row;
      .branding-img-block {
        margin-right: 40px;
        img {
          min-width: 270px;
        }
      }
    }
  }
}
//lg
@media only screen and (min-width: 934px) {
  .clients-section {
    .container {
      .clients-right-img-element {
        .text-block {
          margin: 0 20px 0 0;
          border: none;
          background: url("../img/clients-R-Speak.png") no-repeat;
          order: 1;
        }
        .image-block {
          order: 2;
        }
      }
      .clients-left-img-element {
        .text-block {
          margin: 0 0 0 20px;
          border: none;
          background: url("../img/client-L-Speak.png") no-repeat;
        }
        .image-block {

        }
      }
    }
  }
  footer {
    .container {
      justify-content: space-between;
    }
    .contact-info-wrapper {
      margin-right: 30px;
      width: 100%;
      max-width: 47%;
      h2 {
        text-align: start;
      }
    }
    form {
      margin-left: 30px;
      width: 100%;
      max-width: 46%;
    }
  }
}
//xl
@media only screen and (min-width: 1200px) {

}