//xs
@media only screen and (min-width: 350px) {
  .home {
    button {
      padding: 20px 65px;
    }
  }
}
//sm
@media only screen and (min-width: 576px) {
  .home {
    h1 {
      font-size: 66px;
    }
  }
  .web-dev-section {
    .container {
      .web-text-block {
        h2 {
          font-size: 60px;
        }
      }
    }
  }
  .branding-section {
    .container {
      .branding-text-block {
        h2 {
          font-size: 60px;
        }
      }
    }
  }
}

//md
@media only screen and (min-width: 768px) {
  #menu {
    display:flex;
  }

  .slicknav_menu {
    display:none;
    position: relative;
  }
  .web-dev-section {
    .container {
      flex-direction: row;
      .web-img-block {
        margin-left: 40px;
        img {
          min-width: 240px;
        }
      }
    }
  }
  .branding-section {
    .container {
      flex-direction: row;
      .branding-img-block {
        margin-right: 40px;
        img {
          min-width: 270px;
        }
      }
    }
  }
}
//lg
@media only screen and (min-width: 992px) {

}
//xl
@media only screen and (min-width: 1200px) {

}